{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/home.css') }}">
{% endblock %}

{% block body %}
    <h1>Mathias Gilles</h1>
    <h2>Ruben t'es le bg</h2>
    <small>js > php </small>
{% endblock %}
